In [1]:
import sqlite3
import pandas as pd

# --- Step 1: Load CSV and Create SQLite Database ---
# Create SQLite database and connect
db_file = 'space_launches.db'
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

csv_file = 'final_with_coordinates.csv'
df = pd.read_csv(csv_file)
# Load CSV data into SQLite table
df.to_sql('launches', conn, if_exists='replace', index=False)

In [2]:
# Create table with appropriate schema
create_table_query = """
CREATE TABLE IF NOT EXISTS launches (
    Unnamed_0 INTEGER,
    flight_no INTEGER,
    date_and_time_utc TEXT,
    version_booster TEXT,
    launch_site TEXT,
    payload TEXT,
    payload_mass REAL,
    orbit TEXT,
    customer TEXT,
    launch_outcome TEXT,
    booster_landing TEXT,
    date_parsable INTEGER,
    year INTEGER,
    month INTEGER,
    day INTEGER,
    hour INTEGER,
    rocket_type TEXT,
    is_future INTEGER,
    days_since_last_launch REAL,
    is_starlink INTEGER,
    booster_reuse_count INTEGER,
    launch_site_encoded TEXT,
    payload_mass_category TEXT,
    is_crew_mission INTEGER,
    orbit_type_encoded TEXT,
    is_night_launch INTEGER,
    cumulative_launch_count INTEGER,
    customer_type TEXT,
    launch_success_rate_rolling REAL,
    booster_landing_success_rate REAL,
    latitude REAL,
    longitude REAL
);
"""
cursor.execute(create_table_query)

In [3]:
# Convert boolean columns to integers (0/1) for SQLite compatibility
df['date_parsable'] = df['date_parsable'].astype(int)
df['is_future'] = df['is_future'].astype(int)
df['is_starlink'] = df['is_starlink'].astype(int)
df['is_crew_mission'] = df['is_crew_mission'].astype(int)
df['is_night_launch'] = df['is_night_launch'].astype(int)

In [4]:
# --- Step 2: Data Quality Checks ---
print("=== Data Quality Checks ===")

# 2.1 Check for missing values
missing_values_query = """
SELECT
    COUNT(*) AS total_rows,
    SUM(CASE WHEN flight_no IS NULL THEN 1 ELSE 0 END) AS missing_flight_no,
    SUM(CASE WHEN date_and_time_utc IS NULL THEN 1 ELSE 0 END) AS missing_date,
    SUM(CASE WHEN launch_site IS NULL THEN 1 ELSE 0 END) AS missing_launch_site,
    SUM(CASE WHEN payload_mass IS NULL THEN 1 ELSE 0 END) AS missing_payload_mass,
    SUM(CASE WHEN orbit IS NULL THEN 1 ELSE 0 END) AS missing_orbit,
    SUM(CASE WHEN customer_type IS NULL THEN 1 ELSE 0 END) AS missing_customer_type,
    SUM(CASE WHEN launch_outcome IS NULL THEN 1 ELSE 0 END) AS missing_launch_outcome,
    SUM(CASE WHEN booster_landing IS NULL THEN 1 ELSE 0 END) AS missing_booster_landing
FROM launches;
"""
missing_values = pd.read_sql_query(missing_values_query, conn)
print("\nMissing Values:")
print(missing_values.to_string(index=False))

=== Data Quality Checks ===

Missing Values:
 total_rows  missing_flight_no  missing_date  missing_launch_site  missing_payload_mass  missing_orbit  missing_customer_type  missing_launch_outcome  missing_booster_landing
        288                  0             0                    0                     0              0                      0                       0                        0

In [5]:
# 2.2 Check for duplicates in flight_no
duplicates_query = """
SELECT flight_no, COUNT(*) AS count
FROM launches
GROUP BY flight_no
HAVING count > 1;
"""
duplicates = pd.read_sql_query(duplicates_query, conn)
if not duplicates.empty:
    print("\nDuplicate Flight Numbers:")
    duplicates_detail_query = """
    SELECT flight_no, date_and_time_utc, launch_site, payload
    FROM launches
    WHERE flight_no IN (SELECT flight_no FROM launches GROUP BY flight_no HAVING COUNT(*) > 1)
    ORDER BY flight_no;
    """
    print(pd.read_sql_query(duplicates_detail_query, conn).to_string(index=False))

In [6]:
# 2.3 Basic statistics
stats_query = """
SELECT
    COUNT(*) AS total_launches,
    MIN(year) AS min_year,
    MAX(year) AS max_year,
    ROUND(AVG(payload_mass), 2) AS avg_payload_mass,
    MIN(payload_mass) AS min_payload_mass,
    MAX(payload_mass) AS max_payload_mass,
    COUNT(DISTINCT launch_site) AS unique_launch_sites,
    COUNT(DISTINCT customer_type) AS unique_customer_types
FROM launches;
"""
stats = pd.read_sql_query(stats_query, conn)
print("\nBasic Statistics:")
print(stats.to_string(index=False))

Basic Statistics:
 total_launches  min_year  max_year  avg_payload_mass  min_payload_mass  max_payload_mass  unique_launch_sites  unique_customer_types
            288      2023      2025          13830.19               758             17500                    3                      3

In [7]:
# --- Step 3: Distribution Analysis ---
# 3.1 Launch frequency by year
yearly_launches_query = """
SELECT year, COUNT(*) AS launch_count
FROM launches
GROUP BY year
ORDER BY year;
"""
yearly_launches = pd.read_sql_query(yearly_launches_query, conn)
print("\nLaunches per Year:")
print(yearly_launches.to_string(index=False))

Launches per Year:
 year  launch_count
 2023            91
 2024           132
 2025            65

In [8]:
# 3.2 Launch site distribution
launch_site_query = """
SELECT launch_site, COUNT(*) AS launch_count
FROM launches
GROUP BY launch_site
ORDER BY launch_count DESC;
"""
launch_sites = pd.read_sql_query(launch_site_query, conn)
print("\nLaunches by Launch Site:")
print(launch_sites.to_string(index=False))

Launches by Launch Site:
          launch_site  launch_count
Cape Canaveral,Slc‑40           147
    Vandenberg,Slc‑4E            94
       Kennedy,Lc‑39A            47

In [9]:
# 3.3 Payload mass distribution (summary statistics, without SQRT)
payload_mass_query = """
SELECT
    ROUND(AVG(payload_mass), 2) AS avg_payload_mass,
    ROUND(MIN(payload_mass), 2) AS min_payload_mass,
    ROUND(MAX(payload_mass), 2) AS max_payload_mass
FROM launches
WHERE payload_mass IS NOT NULL;
"""
payload_mass = pd.read_sql_query(payload_mass_query, conn)
print("\nPayload Mass Summary:")
print(payload_mass.to_string(index=False))

Payload Mass Summary:
 avg_payload_mass  min_payload_mass  max_payload_mass
         13830.19             758.0           17500.0

In [10]:
# 3.4 Orbit type distribution
orbit_query = """
SELECT orbit, COUNT(*) AS launch_count
FROM launches
GROUP BY orbit
ORDER BY launch_count DESC;
"""
orbits = pd.read_sql_query(orbit_query, conn)
print("\nLaunches by Orbit Type:")
print(orbits.to_string(index=False))

Launches by Orbit Type:
                orbit  launch_count
                  Leo           216
                  Gto            19
                  Sso            19
             Leo(Iss)            15
                  Meo             8
             Polarleo             3
                  Tli             3
                  Geo             1
         Heliocentric             1
              Molniya             1
    Polar(Retrograde)             1
Sun–Earth L2Injection             1

In [11]:
# --- Step 4: Categorical Analysis ---
# 4.1 Customer type distribution
customer_type_query = """
SELECT customer_type, COUNT(*) AS launch_count
FROM launches
GROUP BY customer_type
ORDER BY launch_count DESC;
"""
customer_types = pd.read_sql_query(customer_type_query, conn)
print("\nLaunches by Customer Type:")
print(customer_types.to_string(index=False))

Launches by Customer Type:
customer_type  launch_count
     Internal           199
   Commercial            62
   Government            27

In [12]:
# 4.2 Success rates
success_rate_query = """
SELECT
    ROUND(SUM(CASE WHEN launch_outcome = 'Success' THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) AS launch_success_rate,
    ROUND(SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) AS booster_landing_success_rate
FROM launches;
"""
success_rates = pd.read_sql_query(success_rate_query, conn)
print("\nSuccess Rates (%):")
print(success_rates.to_string(index=False))

Success Rates (%):
 launch_success_rate  booster_landing_success_rate
               99.65                         97.92

In [13]:
# 4.3 Starlink vs Non-Starlink launches
starlink_query = """
SELECT is_starlink, COUNT(*) AS launch_count
FROM launches
GROUP BY is_starlink;
"""
starlink_data = pd.read_sql_query(starlink_query, conn)
print("\nStarlink vs Non-Starlink Launches:")
print(starlink_data.to_string(index=False))

Starlink vs Non-Starlink Launches:
 is_starlink  launch_count
           0            88
           1           200

In [14]:
# 4.4 Crew vs Non-Crew missions
crew_mission_query = """
SELECT is_crew_mission, COUNT(*) AS launch_count
FROM launches
GROUP BY is_crew_mission;
"""
crew_missions = pd.read_sql_query(crew_mission_query, conn)
print("\nCrew vs Non-Crew Missions:")
print(crew_missions.to_string(index=False))

Crew vs Non-Crew Missions:
 is_crew_mission  launch_count
               0           279
               1             9

In [15]:
# --- Step 5: Temporal Analysis ---
# 5.1 Launches by month
monthly_launches_query = """
SELECT month, COUNT(*) AS launch_count
FROM launches
GROUP BY month
ORDER BY month;
"""
monthly_launches = pd.read_sql_query(monthly_launches_query, conn)
print("\nLaunches by Month:")
print(monthly_launches.to_string(index=False))

Launches by Month:
 month  launch_count
     1            30
     2            27
     3            31
     4            32
     5            36
     6            17
     7            13
     8            20
     9            18
    10            18
    11            25
    12            21

In [16]:
# 5.2 Night launches
night_launch_query = """
SELECT is_night_launch, COUNT(*) AS launch_count
FROM launches
GROUP BY is_night_launch;
"""
night_launches = pd.read_sql_query(night_launch_query, conn)
print("\nNight vs Day Launches:")
print(night_launches.to_string(index=False))

Night vs Day Launches:
 is_night_launch  launch_count
               0           103
               1           185

In [17]:
# --- Step 6: Spatial Analysis ---
# 6.1 Launches by launch site with coordinates
spatial_query = """
SELECT launch_site, latitude, longitude, COUNT(*) AS launch_count
FROM launches
GROUP BY launch_site, latitude, longitude
ORDER BY launch_count DESC;
"""
spatial_data = pd.read_sql_query(spatial_query, conn)
print("\nLaunches by Launch Site with Coordinates:")
print(spatial_data.to_string(index=False))

Launches by Launch Site with Coordinates:
          launch_site  latitude  longitude  launch_count
Cape Canaveral,Slc‑40   28.5620   -80.5772           147
    Vandenberg,Slc‑4E   34.6320  -120.6108            94
       Kennedy,Lc‑39A   28.6082   -80.6041            47

In [18]:
# --- Step 7: Correlation Analysis ---
# 7.1 Correlation between payload_mass and days_since_last_launch (without SQRT)
correlation_query = """
SELECT
    ROUND(
        (
            AVG(payload_mass * days_since_last_launch) - 
            AVG(payload_mass) * AVG(days_since_last_launch)
        ) / (
            (
                AVG(payload_mass * payload_mass) - AVG(payload_mass) * AVG(payload_mass)
            ) * (
                AVG(days_since_last_launch * days_since_last_launch) - 
                AVG(days_since_last_launch) * AVG(days_since_last_launch)
            )
        ) * (
            CASE 
                WHEN (
                    (AVG(payload_mass * payload_mass) - AVG(payload_mass) * AVG(payload_mass)) * 
                    (AVG(days_since_last_launch * days_since_last_launch) - AVG(days_since_last_launch) * AVG(days_since_last_launch))
                ) < 0 THEN -1 
                ELSE 1 
            END
        ), 4
    ) AS correlation_coefficient
FROM launches
WHERE payload_mass IS NOT NULL AND days_since_last_launch IS NOT NULL;
"""
correlation = pd.read_sql_query(correlation_query, conn)
print("\nCorrelation between Payload Mass and Days Since Last Launch:")
print(correlation.to_string(index=False))

Correlation between Payload Mass and Days Since Last Launch:
 correlation_coefficient
                    -0.0

In [19]:
# --- Step 8: Close database connection ---
conn.commit()
conn.close()
print("\nEDA completed. Results printed above.")

EDA completed. Results printed above.